<!doctype html>
<html lang="en">
    <head>
        
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KGZ8W36');</script>
        
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="8bbd8665-b2b7-4ec9-8d88-12564fc9980a" type="text/javascript" async></script>

        <title>Mille Pattes e.V.</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Mille Pattes e.V.">
        <meta name="description" content="Description ">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800,900|Source+Sans+Pro:400,700">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css">
        <link rel="stylesheet" href="/css/add-on.css">
        <link rel="stylesheet" href="/css/main.css">

        <link rel="stylesheet" href="/css/academicons.min.css">
        <link href='//cdn.bootcss.com/highlight.js/9.11.0/styles/github.min.css' rel='stylesheet' type='text/css' />

    </head>
    <body>
    
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGZ8W36"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
      
      <div id="wrapper">
    
<header id="header">
    
      <h1><a href="/">blog</a></h1>
    

    <nav class="links" id="menu-top">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-home">&nbsp;</i>Home
                </a>
            </li>

            <li>
                <a href="/verein/">
                    <i class="fa fa-id-card-o">&nbsp;</i>Verein
                </a>
            </li>

            <li>
                <a href="/konzept/">
                    <i class="fa fa-newspaper-o">&nbsp;</i>Konzept
                </a>
            </li>

            <li>
                <a href="/team/">
                    <i class="fa fa-sitemap">&nbsp;</i>Team
                </a>
            </li>

            <li>
                <a href="/mitglied/">
                    <i class="fa fa-sitemap">&nbsp;</i>Mitglied
                </a>
            </li>
            <li>
                <a href="/karriere/">
                    <i class="fa fa-list">&nbsp;</i>Karriere
                </a>
            </li>

            <li>
                <a href="/kontakt/">
                    <i class="fa fa-envelope-o">&nbsp;</i>Kontakt
                </a>
            </li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="//google.com/search">
                    <input type="text" name="q" placeholder="Search" />
                    <input type="hidden" name="as_sitesearch" value="/">
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>


<div id="menu" class="side-menu-responsive">

    
        <section>
            <form class="search" method="get" action="//google.com/search">
                <input type="text" name="q" placeholder="Search" />
                <input type="hidden" name="as_sitesearch" value="/">
            </form>
        </section>

    


    
        <section class="recent-posts">
            <ul id="menupunkte">
                <li>
                    <a href="/">
                        <i class="fa fa-home">&nbsp;</i>Home
                    </a>
                </li>

                <li>
                    <a href="/verein/">
                        <i class="fa fa-id-card-o">&nbsp;</i>Verein
                    </a>
                </li>

                <li>
                    <a href="/konzept/">
                        <i class="fa fa-newspaper-o">&nbsp;</i>Konzept
                    </a>
                </li>

                <li>
                    <a href="/team/">
                        <i class="fa fa-sitemap">&nbsp;</i>Team
                    </a>
                </li>

                <li>
                    <a href="/mitglied/">
                        <i class="fa fa-sitemap">&nbsp;</i>Mitglied
                    </a>
                </li>
                <li>
                    <a href="/karriere/">
                        <i class="fa fa-list">&nbsp;</i>Karriere
                    </a>
                </li>

                <li>
                    <a href="/kontakt/">
                        <i class="fa fa-envelope-o">&nbsp;</i>Kontakt
                    </a>
                </li>
            </ul>
            <div class="mini-posts">
                <header>
                    <h3>Aktuelles</h3>
                </header>
                

                
                        <article class="mini-post">
                            <header>
                                <h3><a href="/blog/weihnachtsfeier2018/">Weihnachten im FRANZ</a></h3>
                                
                                <time class="published" datetime=
                                    '2018-11-29'>
                                    November 29, 2018</time>
                            </header>
                            
    

    
        
        







  


        
        
        

        <a href="/blog/weihnachtsfeier2018/" class="image featured">
            <img src="/img/blog/peterskirche-min.png" alt="">
        </a>
    


                        </article>
                
                        <article class="mini-post">
                            <header>
                                <h3><a href="/blog/mitgliederversammlung2018/">Save the date 7.11.2018 - Mitgliederversammlung</a></h3>
                                
                                <time class="published" datetime=
                                    '2018-10-26'>
                                    October 26, 2018</time>
                            </header>
                            
    

    
        
        







  


        
        
        

        <a href="/blog/mitgliederversammlung2018/" class="image featured">
            <img src="/img/Mille_Pattes.png" alt="">
        </a>
    


                        </article>
                
                        <article class="mini-post">
                            <header>
                                <h3><a href="/blog/ofaj/">Kooperation Deutsch-Französisches Jugendwerk DFJW</a></h3>
                                
                                <time class="published" datetime=
                                    '2018-09-28'>
                                    September 28, 2018</time>
                            </header>
                            
    

    
        
        







  


        
        
        

        <a href="/blog/ofaj/" class="image featured">
            <img src="/img/blog/ofaj.jpeg" alt="">
        </a>
    


                        </article>
                
                        <article class="mini-post">
                            <header>
                                <h3><a href="/blog/turnbeutel/">Juhu – der Turnbeutel ist da!</a></h3>
                                
                                <time class="published" datetime=
                                    '2018-08-28'>
                                    August 28, 2018</time>
                            </header>
                            
    

    
        
        







  


        
        
        

        <a href="/blog/turnbeutel/" class="image featured">
            <img src="/img/blog/Giffits-Entwurf.jpg" alt="">
        </a>
    


                        </article>
                

            </div>
        </section>
</div>

    
    <div id="main">
        
        <article class="post">
  <header>
    <div class="title">
        <h1><a href="/blog/migrate-from-jekyll/">go is for lovers</a></h1>
        <p>Go is for lovers</p>
    </div>
    <div class="meta">
        

        <time class="published"
            datetime='2014-10-01'>
            October 1, 2014</time>
    </div>
</header>


  
    

    
        
        







  


        
        
        

        <a href="/blog/migrate-from-jekyll/" class="image featured">
            <img src="/img/pic01.jpg" alt="">
        </a>
    


  <div id="content">
    <h2 id="move-static-content-to-static">Move static content to <code>static</code></h2>

<p>Jekyll has a rule that any directory not starting with <code>_</code> will be copied as-is to the <code>_site</code> output. Hugo keeps all static content under <code>static</code>. You should therefore move it all there.
With Jekyll, something that looked like</p>

<pre><code>▾ &lt;root&gt;/
    ▾ images/
        logo.png
</code></pre>

<p>should become</p>

<pre><code>▾ &lt;root&gt;/
    ▾ static/
        ▾ images/
            logo.png
</code></pre>

<p>Additionally, you&rsquo;ll want any files that should reside at the root (such as <code>CNAME</code>) to be moved to <code>static</code>.</p>

<h2 id="create-your-hugo-configuration-file">Create your Hugo configuration file</h2>

<p>Hugo can read your configuration as JSON, YAML or TOML. Hugo supports parameters custom configuration too. Refer to the <a href="/overview/configuration/">Hugo configuration documentation</a> for details.</p>

<h2 id="set-your-configuration-publish-folder-to-site">Set your configuration publish folder to <code>_site</code></h2>

<p>The default is for Jekyll to publish to <code>_site</code> and for Hugo to publish to <code>public</code>. If, like me, you have <a href="http://blog.blindgaenger.net/generate_github_pages_in_a_submodule.html"><code>_site</code> mapped to a git submodule on the <code>gh-pages</code> branch</a>, you&rsquo;ll want to do one of two alternatives:</p>

<ol>
<li><p>Change your submodule to point to map <code>gh-pages</code> to public instead of <code>_site</code> (recommended).</p>

<pre><code>git submodule deinit _site
git rm _site
git submodule add -b gh-pages
    git@github.com:your-username/your-repo.git public
</code></pre></li>

<li><p>Or, change the Hugo configuration to use _site instead of <code>public</code>.</p>

<pre><code>{
    ..
    &quot;publishdir&quot;: &quot;_site&quot;,
    ..
}
</code></pre></li>
</ol>

<h2 id="convert-jekyll-templates-to-hugo-templates">Convert Jekyll templates to Hugo templates</h2>

<p>That&rsquo;s the bulk of the work right here. The documentation is your friend. You should refer to <a href="http://jekyllrb.com/docs/templates/">Jekyll&rsquo;s template documentation</a> if you need to refresh your memory on how you built your blog and <a href="/layout/templates/">Hugo&rsquo;s template</a> to learn Hugo&rsquo;s way.</p>

<p>As a single reference data point, converting my templates for <a href="http://heyitsalex.net/">heyitsalex.net</a> took me no more than a few hours.</p>

<h2 id="convert-jekyll-plugins-to-hugo-shortcodes">Convert Jekyll plugins to Hugo shortcodes</h2>

<p>Jekyll has <a href="http://jekyllrb.com/docs/plugins/">plugins</a>; Hugo has <a href="/doc/shortcodes/">shortcodes</a>. It&rsquo;s fairly trivial to do a port.</p>

<h3 id="implementation">Implementation</h3>

<p>As an example, I was using a custom <a href="https://github.com/alexandre-normand/alexandre-normand/blob/74bb12036a71334fdb7dba84e073382fc06908ec/_plugins/image_tag.rb"><code>image_tag</code></a> plugin to generate figures with caption when running Jekyll. As I read about shortcodes, I found Hugo had a nice built-in shortcode that does exactly the same thing.</p>

<p>Jekyll&rsquo;s plugin:</p>

<pre><code>module Jekyll
  class ImageTag &lt; Liquid::Tag
    @url = nil
    @caption = nil
    @class = nil
    @link = nil
    // Patterns
    IMAGE_URL_WITH_CLASS_AND_CAPTION =
    IMAGE_URL_WITH_CLASS_AND_CAPTION_AND_LINK =
        /(\w+)(\s+)((https?:\/\/|\/)(\S+))(\s+)&quot;(.*?)&quot;(\s+)-&gt;
        ((https?:\/\/|\/)(\S+))(\s*)/i
    IMAGE_URL_WITH_CAPTION = /((https?:\/\/|\/)(\S+))(\s+)&quot;(.*?)&quot;/i
    IMAGE_URL_WITH_CLASS = /(\w+)(\s+)((https?:\/\/|\/)(\S+))/i
    IMAGE_URL = /((https?:\/\/|\/)(\S+))/i
    def initialize(tag_name, markup, tokens)
      super
      if markup =~ IMAGE_URL_WITH_CLASS_AND_CAPTION_AND_LINK
        @class   = $1
        @url     = $3
        @caption = $7
        @link = $9
      elsif markup =~ IMAGE_URL_WITH_CLASS_AND_CAPTION
        @class   = $1
        @url     = $3
        @caption = $7
      elsif markup =~ IMAGE_URL_WITH_CAPTION
        @url     = $1
        @caption = $5
      elsif markup =~ IMAGE_URL_WITH_CLASS
        @class = $1
        @url   = $3
      elsif markup =~ IMAGE_URL
        @url = $1
      end
    end
    def render(context)
      if @class
        source = &quot;&lt;figure class='#{@class}'&gt;&quot;
      else
        source = &quot;&lt;figure&gt;&quot;
      end
      if @link
        source += &quot;&lt;a href=\&quot;#{@link}\&quot;&gt;&quot;
      end
      source += &quot;&lt;img src=\&quot;#{@url}\&quot;&gt;&quot;
      if @link
        source += &quot;&lt;/a&gt;&quot;
      end
      source += &quot;&lt;figcaption&gt;#{@caption}&lt;/figcaption&gt;&quot; if @caption
      source += &quot;&lt;/figure&gt;&quot;
      source
    end
  end
end
Liquid::Template.register_tag('image', Jekyll::ImageTag)
</code></pre>

<p>is written as this Hugo shortcode:</p>

<pre><code>&lt;!-- image --&gt;
&lt;figure {{ with .Get &quot;class&quot; }}class=&quot;{{.}}&quot;{{ end }}&gt;
    {{ with .Get &quot;link&quot;}}&lt;a href=&quot;{{.}}&quot;&gt;{{ end }}
        &lt;img src=&quot;{{ .Get &quot;src&quot; }}&quot;
            {{ if or (.Get &quot;alt&quot;) (.Get &quot;caption&quot;) }}
                alt=&quot;{{ with .Get &quot;alt&quot;}}
                        {{.}}
                     {{else}}
                        {{ .Get &quot;caption&quot; }}
                     {{ end }}&quot;
               {{ end }} /&gt;
    {{ if .Get &quot;link&quot;}}&lt;/a&gt;{{ end }}
    {{ if or (or (.Get &quot;title&quot;) (.Get &quot;caption&quot;)) (.Get &quot;attr&quot;)}}
    &lt;figcaption&gt;{{ if isset .Params &quot;title&quot; }}
        {{ .Get &quot;title&quot; }}{{ end }}
        {{ if or (.Get &quot;caption&quot;) (.Get &quot;attr&quot;)}}&lt;p&gt;
        {{ .Get &quot;caption&quot; }}
        {{ with .Get &quot;attrlink&quot;}}&lt;a href=&quot;{{.}}&quot;&gt; {{ end }}
            {{ .Get &quot;attr&quot; }}
        {{ if .Get &quot;attrlink&quot;}}&lt;/a&gt; {{ end }}
        &lt;/p&gt; {{ end }}
    &lt;/figcaption&gt;
    {{ end }}
&lt;/figure&gt;
&lt;!-- image --&gt;
</code></pre>

<h3 id="usage">Usage</h3>

<p>I simply changed:</p>

<pre><code>{% image
    full http://farm5.staticflickr.com/4136/4829260124_57712e570a_o_d.jpg
    &quot;One of my favorite touristy-type photos. I secretly waited for the
    good light while we were &quot;having fun&quot; and took this. Only regret: a
    stupid pole in the top-left corner of the frame I had to clumsily get
    rid of at post-processing.&quot;
    -&gt;http://www.flickr.com/photos/alexnormand/4829260124/in/
        set-72157624547713078/ %}
</code></pre>

<p>to this (this example uses a slightly extended version named <code>fig</code>, different than the built-in <code>figure</code>):</p>

<pre><code>{{% fig class=&quot;full&quot;
    src=&quot;http://farm5.staticflickr.com/4136/4829260124_57712e570a_o_d.jpg&quot;
    title=&quot;One of my favorite touristy-type photos. I secretly waited for the
    good light while we were having fun and took this. Only regret: a stupid
    pole in the top-left corner of the frame I had to clumsily get rid of at
    post-processing.&quot;
    link=&quot;http://www.flickr.com/photos/alexnormand/4829260124/in/
            set-72157624547713078/&quot; %}}
</code></pre>

<p>As a bonus, the shortcode named parameters are, arguably, more readable.</p>

<h2 id="finishing-touches">Finishing touches</h2>

<h3 id="fix-content">Fix content</h3>

<p>Depending on the amount of customization that was done with each post with Jekyll, this step will require more or less effort. There are no hard and fast rules here except that <code>hugo server --watch</code> is your friend. Test your changes and fix errors as needed.</p>

<h3 id="clean-up">Clean up</h3>

<p>You&rsquo;ll want to remove the Jekyll configuration at this point. If you have anything else that isn&rsquo;t used, delete it.</p>

<h2 id="a-practical-example-in-a-diff">A practical example in a diff</h2>

<p><a href="http://heyitsalex.net/">Hey, it&rsquo;s Alex</a> was migrated in less than a <em>father-with-kids day</em> from Jekyll to Hugo. You can see all the changes (and screw-ups) by looking at this <a href="https://github.com/alexandre-normand/alexandre-normand/compare/869d69435bd2665c3fbf5b5c78d4c22759d7613a...b7f6605b1265e83b4b81495423294208cc74d610">diff</a>.</p>
  </div>

</article>
    </div>
    
<section id="sidebar">

  
  <section id="intro">

      <a href='/'><img src="/img/wurmausgeschnitten.png"  /></a>
      <ul class="icons">
        <li><a href="/kontakt/" title="Email" class="fa fa-envelope"></a></li>
      </ul>
  </section>

  
  <section class="recent-posts">
    <div class="mini-posts">
      <header>
        <h3>Aktuelles</h3>
      </header>
      <div class="posts-container">
        

        
          <article class="mini-post">
            <header>
              <h3>
                <a href="/blog/weihnachtsfeier2018/">Weihnachten im FRANZ</a>
              </h3>
              
              <time class="published" datetime='2018-11-29'>
                November 29, 2018
              </time>
            </header>
            
    

    
        
        







  


        
        
        

        <a href="/blog/weihnachtsfeier2018/" class="image featured">
            <img src="/img/blog/peterskirche-min.png" alt="">
        </a>
    


          </article>
        
          <article class="mini-post">
            <header>
              <h3>
                <a href="/blog/mitgliederversammlung2018/">Save the date 7.11.2018 - Mitgliederversammlung</a>
              </h3>
              
              <time class="published" datetime='2018-10-26'>
                October 26, 2018
              </time>
            </header>
            
    

    
        
        







  


        
        
        

        <a href="/blog/mitgliederversammlung2018/" class="image featured">
            <img src="/img/Mille_Pattes.png" alt="">
        </a>
    


          </article>
        
          <article class="mini-post">
            <header>
              <h3>
                <a href="/blog/ofaj/">Kooperation Deutsch-Französisches Jugendwerk DFJW</a>
              </h3>
              
              <time class="published" datetime='2018-09-28'>
                September 28, 2018
              </time>
            </header>
            
    

    
        
        







  


        
        
        

        <a href="/blog/ofaj/" class="image featured">
            <img src="/img/blog/ofaj.jpeg" alt="">
        </a>
    


          </article>
        
          <article class="mini-post">
            <header>
              <h3>
                <a href="/blog/turnbeutel/">Juhu – der Turnbeutel ist da!</a>
              </h3>
              
              <time class="published" datetime='2018-08-28'>
                August 28, 2018
              </time>
            </header>
            
    

    
        
        







  


        
        
        

        <a href="/blog/turnbeutel/" class="image featured">
            <img src="/img/blog/Giffits-Entwurf.jpg" alt="">
        </a>
    


          </article>
        
      </div>
    </div>
  </section>

  
    <section id="mini-bio">
      <h3>Adresse</h3>
      <p>Tarostrasse 9, 04103 Leipzig </p>
    </section>

  
  <section id="footer">
    <p class="copyright">
        
    </p>
  </section>
</section>

    </div>
<div id="collaboration">Unsere Partner und Downloads
    <div class="container">
        <div class="row">
            <div class="col-sm space-footer">
                <a href="http://reclamgymnasium.de/" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/franz_logo.jpg" alt="Franz" span title="Franz"></a>
            </div>
            <div class="col-sm space-footer">
               <a href="https://www.ofaj.org/" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/ofaj.jpeg" alt="OFAJ" span title="OFAJ"></a>
            </div>
            <div class="col-sm space-footer">
                <a href="https://leipzig.institutfrancais.de/?language=de" target="_blank"><img class="d-block img-fluid" src="/img/collaboration/institut_francais.jpg" alt="Institut francais Leipzig" span title="Institut francais"></a>
            </div>
            <div class="col-sm space-footer">
                <a href="/downloads" target="_blank"> <img class="d-block img-fluid" src="/img/collaboration/download_2.jpg" span title="Downloads"></a>
            </div>
        </div>
    </div>
</div>


    <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
    
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
      <script src="/js/backToTop.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/util.js"></script>
      <script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
  </body>
</html>

